<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2023 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huyu.test.SessionMapper">

  <!--  sql标签, 被引用的时候,   namespace+id  id -->
  <sql id="userColumns"> ${alias}
  .
  id
  ,
  ${alias}
  .
  username,
  ${alias}
  .
  password </sql>


  <resultMap id="detailedBlogResultMap" type="com.huyu.test.SessionPO" autoMapping="true">
    <constructor>
      <idArg column="id" javaType="long"/>
    </constructor>
    <result property="title" column="blog_title"/>
  </resultMap>

  <resultMap id="map" type="map" autoMapping="true">
    <id column="blog_title"></id>
    <result property="title" column="blog_title"/>
  </resultMap>

  <resultMap id="waybillPos" type="com.huyu.test.WaybillPO">
    <id column="id" property="id"></id>
    <association property="freightType" javaType="com.huyu.test.FreightTypePO">
      <result column="freight_type" property="freightType"></result>
    </association>
  </resultMap>

  <!-- 通过ID来更新配置 -->
  <update id="updateSessionById">
    update session
    <set>
      <if test="PO.title!=null and PO.title.trim()!=''">
        title = #{PO.title},
      </if>
      <if test="PO.updateTime!=null">
        update_time = #{PO.updateTime},
      </if>
      <if test="PO.delIs!=null">
        del_is = #{PO.delIs}
      </if>
    </set>
    where
    id = #{PO.id}
    <foreach item="item" index="index" collection="list"
             open="ID in (" separator="," close=")">
      #{item.id}
    </foreach>

    <foreach item="item" index="index" collection="list"
             open="ID in (" separator="," close=")">
      #{item.id}
    </foreach>
  </update>


  <select id="getMap" resultMap="waybillPos">
    <foreach item="id" index="index" collection="ids" separator=";">
      select * from waybill where id = #{id}
    </foreach>
  </select>
</mapper>
